td {
    outline: solid black;
    color: rgb(0, 170, 255);
} 
 

td:hover {
  background-color: lightblue;
  
}

td:active {
  background-color: lightcoral;
}


td:focus {
  outline: 2px solid blue;
}


td:first-child {
  background-color: #7700ff;
 
}

td:last-child {
  background-color: #2f6600;
}




